* {
    font-family: 'AP';
}
html { 
    font-size: 62.5%; 
}
.container {
    margin-bottom: 15px;
}
.my-navbar {
    align-items: center;
    background: #996600;
    display: flex;
    height: 6rem;
    justify-content: space-between;
    padding: 0 2%;
    margin-bottom: 3rem;
    font-size:3rem;
    color: white;
}

.my-navbar-brand,
.my-navbar-item {
  color: #c4b46d;
}

.my-navbar-brand:hover,
a.my-navbar-item:hover {
  color: #ffffff;
}

h1 {
    font-size: 5rem;
    text-align:center;  
}
.card-header{
    font-size: 2rem;
    padding-bottom: 0;
}
.font-default{
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.75rem;
}

.purple{
    background: #e6e6fa;
    height: 100%;
    text-align: center;
    padding-top: 2rem;
    font-size: 2.5rem;
}

.light-blue{
    background: #dbeefa;
    height: 100%;
    text-align: center;
    padding-top: 2rem;
    font-size: 2.5rem;
}

.pink{
    background: #fceff4;
    height: 100%;
    text-align: center;
    padding-top: 2rem;
    font-size: 2.5rem;
}

.pink-sm{
    background: #fceff4;
    height: 100%;
    width: 45%;
    margin-left:1rem;
    display: inline-block;
    border-radius: 0.5rem;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}
.deposit-amount{
    text-align: left;
}
.deposit-time{
    text-align: right;
}
.outcome-wrapper{
    margin: 3rem 0;
    border-bottom: double 0.5rem #cecccc;
}
.blue{
    background: #cbe7f8;
    height: 100%;
    text-align: center;
    padding-top: 2rem;
    font-size: 2.5rem;
}
.key-visual {
    height: 700px;
    background-image: url('img/cork_board2.jpg');
    background-size: cover;
    position: relative;
}

.yellow{
    background: #f7f1bf;
    height: 100%;
    text-align: center;
    padding-top: 2rem;
    font-size: 2.5rem;
}

@font-face {
	font-family: 'AP';
	src: url('/fonts/AP.ttf');
}
.Anzu {
    font-family: 'AP';
}

.btn-lg {
    margin: 2rem 0 2rem 0;
    padding: 0.2rem;
    font-size: 2.5rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}
.btn-lg:hover {
    color: #d2e1f0;
    text-decoration: underline;
}
.btn-lg-bottom{
    margin: 2rem 0 6rem 0;
}

.input-sm{
    width: 30%;
    margin-bottom: 2rem;
    display: inline-block;
}